/* _header.scss */
header {
  padding: 20px 0 20px 0;
  background-color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-left {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
}

.box-right {
  position: relative;
  display: flex;
  flex-basis: 5%;
}